@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 15, 15);
    min-height: 100vh;
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 24px;
}

.content__list {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 10px;

    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.content__item {
    display: inline-flex;
    
    & img {
        width: 120px;
    }
}

.content__list .content__item {
    transition: .5s;
    filter: brightness(0);
}

.content__list .content__item:hover {
    filter: brightness(1);
    transform: translateZ(200px);
}

.content__list .content__item:hover + * {
    filter: brightness(0.5);
    transform: translateZ(150px) rotateY(40deg);
}

.content__list .content__item:hover + * + *{
    filter: brightness(0.3);
    transform: translateZ(70px) rotateY(20deg);
}

.content__list .content__item:hover + * + * + *{
    filter: brightness(0.1);
    transform: translateZ(30px) rotateY(10deg);
}

.content__list .content__item:has(+ *:hover) {
    filter: brightness(0.5);
    transform: translateZ(150px) rotateY(-40deg);
}

.content__list .content__item:has(+ * + *:hover) {
    filter: brightness(0.3);
    transform: translateZ(70px) rotateY(-20deg);
}

.content__list .content__item:has(+ * + * + *:hover) {
    filter: brightness(0.1);
    transform: translateZ(30px) rotateY(-10deg);
}