@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    

    font-family: 'mark-icon';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    background: rgb(83,114,239);
}

.icons {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* gap: 10px; */
    
    width: 400px;
    padding: 48px;

    background-color: rgba(180, 250, 0, 1);
    box-shadow: 0px 0px 20px 0px rgba(66, 68, 90, 1);
}

.icons__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 38px;
    aspect-ratio: 1;

    /* background-color: white; */
}


.icons__icon.--small {
    font-size: 10px;
}
