* {
    margin: 0;
    padding: 0;

    
    font-family: 'marchik-icom';
}

body {
    display: flex;

    justify-content: center;
    align-items: center;

    min-height: 100vh;

    background-color: rgb(0, 0, 0);
}

.block-links {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.block-links__share-icon {
    position: absolute;
    display: flex;
    margin: auto;
    align-items: center;
    z-index: 1;

    cursor: pointer;

    left: 50%;
    transform: translate(-50%);

    width: 24px;
    aspect-ratio: 1/1;

    border-radius: 50%;
    background-color: white;
    border: 1px solid rgba(170, 170, 170, 0.25);
}

.share-icon {
    width: 16px;
    height: 16px;

    margin: auto 3px;
}

.block-links__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border-radius: 100% 5px 5px 5px;
    background-color: white;

    transition: 0.4s ease-in-out;
    transition-property: transform, background-color;
}

.block-links__link.--2 {
    border-radius: 5px 100% 5px 5px;
}

.block-links__link.--3 {
    border-radius: 5px 5px 5px 100%;
}

.block-links__link.--4 {
    border-radius: 5px 5px 100% 5px;
}

.link__icon.--top {
    position: absolute;
    
    transform: translate(0%);

    width: 12px;
    height: 12px;
}

.link__icon.--bottom {
    position: absolute;
    width: 12px;
    height: 12px;

    bottom: 45%;
}

.block-links__link:hover {
    transform: scale(1.15);

    background-color: #FF1493;

    fill: white;

    transition: transform 0.3s ease-in-out;
}

.block-links__link.--2:hover {
    background-color: rgb(39, 39, 39);
}

.block-links__link.--3:hover {
    background-color: rgb(39, 39, 39);
}

.block-links__link.--4:hover {
    background-color: #66f;
}