@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

html {
    font-family: "Permanent Marker", cursive;
    font-size: 16px;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(227, 227, 227);
    min-height: 100vh;
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 24px;
}

.timing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 20px;

    &.--start {
        --car-pos: 0;
    }
}

.timing__top {
    font-size: 48px;
    margin-bottom: 2rem;
}

.timing__card {
    display: flex;
    flex-flow: column;
    min-width: 100%;

    &:nth-child(2) {
        --car-pos-tr-funtcion: ease;
    }

    &:nth-child(3) {
        --car-pos-tr-funtcion: ease-in;
    }

    &:nth-child(4) {
        --car-pos-tr-funtcion: ease-out;
    }

    &:nth-child(5) {
        --car-pos-tr-funtcion: cubic-bezier(1, 0, 0, 0);
    }
}

.timing__card-top {
    font-size: 20px;
    opacity: .6;
}

.timing__card-block {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background-color: white;
}

.car {
    --car-pos-width: 60px;
    position: absolute;
    right: var(--car-pos, calc(100% - var(--car-pos-width)));
    width: var(--car-pos-width);
    transition: right 1s var(--car-pos-tr-funtcion, linear);
}

.timing-start {
    margin-top: 20px;
    padding: 10px 0;

    width: 100%;

    font-size: 32px;
    color: rgb(0, 0, 0);

    border-radius: 8px;
    background-color: rgb(0, 255, 13);
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.050);
    }
}