
.tab {
    font-weight: bold;
}

.tab:has(.tab-actor:checked) {
    color: white;
}

.tab:has(.tab-actor:checked)::before {
    content: '›';
    color: white;
}
.tab:has(.tab-actor:checked)::after {
    content: '‹';
    color: white;
}
