* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bg-page, #0f172a);

    &.--light {
        --bg-page: white;
        --color-bg-plans: #2c2c2c;
        --color-plan: #00AEEF;
        --donate-plan-item-fill: #00AEEF;
        --bg-hover-plan: #00eaff;
        --color-button-plan: #0084ff;
        --bg-button-selected: #002fff;
        --bg-color-plan: #ffffff;
        --border-plan-card: 1px solid black
    }
}

.container {
    position: relative;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}