-
    var LEGALS_LIST = [
        {
          caption: 'How we collect personal data',
          link: '',
          content: ''
        },
        {
          caption: '',
          link: '',
          content: ''
        },
        {
          caption: '',
          link: '',
          content: ''
        },
        {
          caption: '',
          link: '',
          content: ''
        },
        {
          caption: '',
          link: '',
          content: ''
        },
        {
          caption: '',
          link: '',
          content: ''
        },
        {
          caption: '',
          link: '',
          content: ''
        },
        {
          caption: '',
          link: '',
          content: ''
        },
        {
          caption: '',
          link: '',
          content: ''
        },
    ]