-
    var LEGALS_LIST = [
        {
          caption: 'Definitions',
          link: '',
          content: '<p><strong>"Account"</strong> means the account in the name of the Customer which is designated for the debiting and/or crediting of card transaction.</p> <p><strong>“Application"</strong> refers to the application for an account by the Customer and includes the application forms which have been approved.</p> <p><strong>"ATM"</strong> means Automated Teller Machine.</p> <p><strong>"Authentication measures"</strong> means the techniques, methods and processes used to verify the identity of the customer and the debit card transaction.</p> <p><strong>"Bank"</strong> means Access Bank South Africa Limited.</p> <p><strong>"Card"</strong> means a Debit Card issued by the Bank.</p> <p><strong>"Customer"</strong> means an individual or business to whom cards have been issued.</p> <p><strong>"Card transaction"</strong> means one or all of the following transactions by means of the Card:</p>'
        },
        {
          caption: 'Issue of the Card',
          link: '',
          content: '<p>The customer must sign the card on the reverse side with ink immediately after receiving it.</p> <p>The customer is the only person who may use the card. The card cannot be transferred to any other person for use.</p> <p>The card is valid from the issuing date until notice from the Bank that the use of the Card is terminated, or the account is closed.</p>'
        },
        {
          caption: 'Responsibility for card',
          link: '',
          content: '<p>The Customer acknowledges that the authentication measures are strictly confidential and must be known only by the Customer and must not under any circumstances be disclosed.</p> <p>The Customer is responsible for the safekeeping and appropriate use of the card.</p> <p>The Customer shall take all necessary precautions to prevent the Card being lost, stolen or used by a third party and/or that any of the Authentication measures become known to any unauthorized person.</p> <p>The Customer must ensure that any record of the PIN is kept separate from the card in a safe and secure storage location.</p> <p>If the Card is lost or stolen, the Customer must notify the Bank immediately thereof, and the Bank will stop the card. Delay in notifying the Bank will be considered as negligence on the Customer's part, and the Customer will be responsible for all cash drawn, including where the PIN is used to withdraw money and/or for payment of goods and services bought with the Card, before such time as the Bank has stopped the Card. The Customer shall be liable the Card replacement fee.</p> <p>The fraudulent, incorrect, unauthorized or illegal use of the Card or the Authentication measures by the Customer, shall not relieve the Customer of the Customer's liabilities to the Bank in respect thereof.</p> <p>The Customer acknowledges that the use of the Card and the Authentication measures gives access to the account and the Customer information. The Customer waives any claim(s) which the Customer may have against the Bank with reference to any damages, loss or liability that the Customer may suffer as a result of such access and/or use.</p> <p>The Customer indemnifies the Bank against any damages, loss or liability which the Bank may suffer as a result of such access and/or use.</p>'
        },
        {
          caption: 'Owner of the Card',
          link: '',
          content: ''
        },
        {
          caption: 'Use of the Card',
          link: '',
          content: ''
        },
        {
          caption: 'Limits',
          link: '',
          content: ''
        },
        {
          caption: 'Certificates',
          link: '',
          content: ''
        },
        {
          caption: 'ATM and POS Transactions',
          link: '',
          content: ''
        },
        {
          caption: 'Charges',
          link: '',
          content: ''
        },
        {
          caption: 'Domicilium citandi et executandi',
          link: '',
          content: ''
        },
        {
          caption: 'Cancellation of Card',
          link: '',
          content: ''
        },
        {
          caption: 'Bank Statements',
          link: '',
          content: ''
        },
        {
          caption: 'Amendments',
          link: '',
          content: ''
        },
        {
          caption: 'Disclosure of Information',
          link: '',
          content: ''
        },
        {
          caption: 'Jurisdiction',
          link: '',
          content: ''
        },
        {
          caption: 'General',
          link: '',
          content: ''
        }
      ]