.brick-first,
.brick-second {
    --p-padding: 16px 0 24px 0;
    --p-max-width: 520px;

    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    min-height: 468px;

    padding: 60px 40px;

    @media (min-width: 480px) {
        min-width: 430px;
    }
}

.brick-first {
    position: relative;

    z-index: 1;

    color: white;

    background-color: #403267;

    @media (min-width: 480px) {
        --buton-min-width: 350px;
    }
}

.brick-first::before {
    position: absolute;
    inset: 0;
    z-index: -1;

    content: '';

    opacity: .7;
    background: url(../../img/house.png) no-repeat center center / cover;
}


.brick-second {
    --p-max-width: 241px;
    --captiom-max-width: 280px;

    background: linear-gradient(90deg, rgba(243, 243, 243, 0) 30%, #F3F3F3 100%), url(../../img/child.png) no-repeat center center / cover;

    @media (min-width: 480px) {
        align-items: flex-end;
        text-align: right;
     }
}

.brick-third {
    flex: 1 100%;

    min-height: 293px;

    padding: 48px;

    text-align: center;

    background: url(../../img/les.png) no-repeat center center / cover;
}

.brick-third__elements {
    --p-padding: 10px 0 16px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 24px 0;

    color: white;
    background: rgba(0, 0, 0, 0.6);
}