.brick {
    width: 100%;
}

.brick__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brick-first {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #403267;

    width: 641px;
    height: 468px;
}

.brick-first::before {
    position: absolute;
    background: url(../../img/house.png) no-repeat center center / cover;
    opacity: .7;
    width: 641px;
    height: 468px;

    content: '';
}

.brick-first__elements {
    color: white;
    text-align: center;

    padding: 60px 40px;

    z-index: 1;
}

.brick-first__text h2 {
    max-width: 480px;

    font-weight: 700;
    font-size: 31px;
    line-height: 31px;

    margin-bottom: 15px;
}

.brick-first__text p {
    max-width: 520px;

    font-weight: 400;
    font-size: 16px;
    line-height: 25px;

    margin-bottom: 30px;
}

.brick-first__link a {
    color: white;

    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 1px;

    border: 1px solid white;
    padding: 5px 40px;
}

.brick-second {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background: linear-gradient(90deg, rgba(243, 243, 243, 0) 30%, #F3F3F3 100%), url(../../img/child.png) no-repeat center center / cover;
    width: 668px;
    height: 468px;
}

.brick-second__elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 16px;

    width: 251px;
    height: 280px;

    margin-right: 40px;

    text-align: right;
}

.brick-second__text p:first-child {
    max-width: 141px;

    font-weight: 700;
    font-size: 31px;
    line-height: 31px;

    margin-bottom: 16px;

    text-transform: uppercase;
}

.brick-second__text p {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 241px;

    font-weight: 400;
    font-size: 16px;
    line-height: 25px;

    color: rgba(53, 53, 53, 1);

    text-align: right;
}


.brick-second__link {
    background-color: rgba(91, 64, 64, 0.7);
    padding: 5px 30px;
}

.brick-second__link a {
    color: white;

    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 1px;
}

.brick-third {
    text-align: center;
    width: 1331px;
    height: 293px;

    margin: 24px 0;

    padding: 48px;

    background: url(../../img/les.png) no-repeat center center / cover;
}

.brick-third__elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 24px 0;

    color: white;
    background: rgba(0, 0, 0, 0.6);
}

.brick-third__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px;
}

.brick-third__text p { 
    gap: 24px;

    max-width: 655px;

    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.brick-third__text p:first-child {
    max-width: 483px;

    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

.brick-third__link {
    margin-top: 16px;
    padding: 11px 20px;

    background-color: black;
    border: 1px solid white;
}

.brick-third__link a {
    color: white;

    text-transform: uppercase;

    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
}
