.button.--bottom {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 9px 15px;

    color: #fff;
    
    cursor: pointer;

    border-radius: 5px;
    background-color: rgb(89, 122, 253);
}

.button.--remove {
    display: flex;
    align-items: center;
    justify-content: center;


    /* padding: 1px; */

    width: 15px;
    aspect-ratio: 1;

    border-radius: 50%;
    background-color: #ccc;
    

    &.button.--remove:before {

        content: "\ec8d";
    
        font-family: boxicons !important;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
        display: inline-block;
        text-transform: none;
        speak: none;
    }
}
