.card-tags {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 490px;

    padding: 15px;

    border-radius: 10px;
    background-color: white;

    & .bxs-purchase-tag {
        font-size: 20px;
    
}
}

.card-tags__top {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-tags__top h2 {
    font-size: 22px;
    font-weight: 600;
}

.card-tags__bages {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

    gap: 6px;

    padding: 9px 16px;

    min-height: 100px;

    border: 1px solid #666;
    border-radius: 5px;
}

.bage {
    display: inline-flex;
    align-items: center;

    gap: 8px;

    padding: 5px 10px;

    border-radius: 5px;
    background-color: rgb(233, 233, 233);
}

.card-tags__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
}