.checkbox {
    --checkbox-circle-size: 20px;
    --checkbox-circle-inset: calc(100% - var(--checkbox-circle-size) - 2px);
    --bg-color: white;

    position: relative;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: calc(var(--checkbox-circle-size) * 2.3);
    height: calc(var(--checkbox-circle-size) + 2px);

    background-color: #B0B0B0;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);

    transition: background-color 0.5s ease-in-out;
}

.checkbox__input {
    position: absolute;
    inset: 0;
    z-index: 1;

    opacity: 0;
}

.checkbox__label {
    position: absolute;
    inset: 50% var(--checkbox-circle-inset) auto auto;
    transform: translate(0, -50%);

    content: '';

    width: var(--checkbox-circle-size);
    aspect-ratio: 1/1;

    background-color: var(--bg-color);
    box-shadow: 0px 0px 1px 0px rgba(66, 68, 90, 1);
    border-radius: 50%;

    transition: inset 0.5s ease-in-out;
}

.checkbox__icon {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);

    width: 18px;

    opacity: var(--checkbox-icon-opacity, 1);
    transition: opacity 0.5s ease-in-out;
}

.checkbox__icon.--last {
    opacity: var(--checkbox-icon-opacity-last, 0);
}

.checkbox:has(.checkbox__input:checked) {
    --checkbox-circle-inset: calc(0% + 2px);

    background-color: #222222;

    --checkbox-icon-opacity: 0;
    --checkbox-icon-opacity-last: 1;
}
