.checkbox {
    --checkbox-circle-size: 20px;
    --checkbox-circle-inset: calc(100% - var(--checkbox-circle-size));

    position: relative;

    width: 60px;
    height: 20px;

    background-color: rgb(109, 0, 0);
    border-radius: 20px;
}

.checkbox__input {
    position: absolute;
    inset: 0;
    z-index: 1;

    opacity: 0;
}

.checkbox__label {
    position: absolute;
    inset: 50% var(--checkbox-circle-inset) 0 0;
    transform: translate(0, -50%);


    width: (--checkbox-circle-size);
    aspect-ratio: 1;

    background-color: white;
    border-radius: 50%;
}

.checkbox:has(.checkbox__label:checked) {
    
}