.footer {
    --color-light: #FFFFFF;
    --color-dark: #1B1C1C;
    --color-text: #616161;

    width: 100%;
    min-height: 569px;

    padding: 24px 0 0 0;

    background-color: var(--color-dark);
    color: var(--color-light);
}

.group__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
}

.footer__top {
    display: flex;
    gap: 50px;
    margin-bottom: 72px;
}

.footer__top-first {
    width: 200px;
}

.footer__top-nav {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.footer__top-nav p {
    max-width: 198px;
    max-height: 25px;

    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}

.footer__top-links {
    display: flex;
    flex-direction: column;
    gap: 5px;

    list-style: none;
}

.footer__top-link {
    position: relative;
    font-weight: 400;
    font-size: 14.4px;
    line-height: 25px;

    color: var(--color-light);

    &.--line::after {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 65px;

        content: '';

        border: 1px solid white;
    }
}

.footer__second {
    display: flex;
    flex-direction: row;

    gap: 40px;
    max-width: 600px;
    height: 389px;
}

.footer__group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 27px;
}

.footer__group-item {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;

    width: 179px;
    height: 59px;
}

.footer__group-item.--2 {
    margin-top: 50px;
}

.footer__group-item.--3 {
    margin-top: 95px;
}

.footer__group-item a {
    font-weight: 400;
    size: 14.4px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
}

.footer__top-group-last {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: end;
}

.footer__group-item.--first {
    width: 232px;
}

.footer__group-item.--last {
    width: 232px;
    height: 172px;

    padding: 30px 0;
    gap: 5px;

    border-top: 2px solid #616161;
    border-bottom: 2px solid #616161;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* .footer__bottom-links {
    display: flex;
} */

.footer__bottom-nav {
    display: flex;
    gap: 17px;

    list-style: none;
}

.footer__bottom-item {
    border-right: 1px solid var(--color-light);
}

.footer__bottom-item a {
    color: var(--color-light);

    font-size: 16px;
    font-weight: 600;
    line-height: 19px;

    margin-right: 17px;
}

.footer__bottom-capt p {
    color: var(--color-light);

    font-size: 14.4px;
    font-weight: 400;
    line-height: 22.5px;
}