.home-support {
    display: flex;

    min-height: 628px;
    width: 100%;

    margin-bottom: 24px;

    background: url("../../img/bg.png") no-repeat center center / cover;
}

.home-support__card {
    --caption-margin: 0 0 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    margin: auto 0 auto auto;
    width: max-content;


    border: 2px solid black;
    padding: 60px 40px;

    background-color: rgba(255, 255, 255, .7);

    & p {
        font-weight: 600;
        font-size: 16px;
        text-transform: none;

        @media (max-width: 700px) {
            font-size: 12px;
        }
    }

    @media (max-width: 768px) {
        margin: auto;
    }
}

.home-support__links {
    display: grid;

    grid-template-columns: 1fr 1fr;
    /* repeat(2, 1fr) */
    gap: 10px;

    margin: 20px 0;
}

.home-support__bottom {
    display: inline-flex;
    align-items: center;
    gap: 3px;

    font-size: 17.5px;
    font-weight: 600;
    line-height: 22px;

}

.home-support__bottom a {
    text-decoration: underline;
}