.menu {
    display: grid;
    grid-template-areas: 'main aside';

    min-width: 100%;
    min-height: 100%;
}

/* :where(a) {
    text-decoration: none;
        color: black;
} */

.menu__main {
    grid-area: main;


    font-size: 10px;

    a {
        text-decoration: none;
        color: black;
    }
}

.menu__nav {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 2fr);
}

.menu__logo-company {
    align-self: flex-end;
    text-align: center;
    margin: 10px 0;
}

.menu__first {
    grid-area: 2/1;
}

.menu__second {
    grid-area: 2/2;

}

.menu__bottom {
    display: flex;
    gap: 10px;
}