.container_tick {
    display: flex;
    gap: 5px;
}

.complete {
    position: relative;

    width: 16px;
    height: 16px;

    background-color: white;
    border-radius: 1px;
    box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);

    transition: background-color 0.3s ease-in-out;
}

.complete__input {
    position: absolute;

    z-index: 1;
    inset: 0;
    opacity: 0;
}

.complete__input:checked + .complete__label::before {
    position: absolute;
    content: '';

    opacity: 1;
    
    right: 33%;
    top: 20%;

    width: 2px;
    height: 10px;

    transform: rotateZ(40deg);
    
    border-radius: 50px;
    background-color: white;
}

.complete__input:checked + .complete__label::after {
    position: absolute;
    content: '';

    left: 28%;
    top: 44%;

    width: 2px;
    height: 5px;

    transform: rotateZ(-40deg);
    
    border-radius: 50px;
    background-color: white;
}

.complete:has(.complete__input:checked) {
    background-color: rgb(38,198,106);
}

.complete.--orange:has(.complete__input:checked) {
    background-color: rgb(255,89,67);
}

.complete.--yellow:has(.complete__input:checked) {
    background-color: rgb(255,165,9); 
}

.complete.--blue:has(.complete__input:checked) {
    background-color: rgb(37,184,166); 
}

.complete.--violet:has(.complete__input:checked) {
    background-color: rgb(154,92,185); 
}