.toggle {
    --toggle-size-round: 22px;
    --togle-circle-inset: calc(100% - var(--toggle-size-round) - 2px);
    --togle-circle-color: rgba(255, 255, 255, 1);
    --toggle-icon-hidden-before: 1;

    position: relative;

    height: 24px;
    width: 50px;

    background-color: rgba(233, 233, 233, 1);
    border-radius: 20px;

    transition: background-color 0.5s ease-in-out;
}

.toggle__input {
    position: absolute;

    inset: 0;
    z-index: 1;
    opacity: 0;
}

.toggle__circle::before {
    position: absolute;
    content: '';

    inset: 50% var(--togle-circle-inset) auto auto;
    transform: translate(0, -50%);

    aspect-ratio: 1/1;
    width: var(--toggle-size-round);

    background-color: var(--togle-circle-color);
    border-radius: 50%;

    transition: 0.5s ease-in-out;
    transition-property: inset, background-color;
}

.toggle__icon-1, .toggle__icon-2 {
    position: absolute;
    
    inset: 50% calc(var(--togle-circle-inset) + 3px) auto auto;
    transform: translate(0, -50%);

    transition: 0.5s ease-in-out;
}

.toggle__icon-2 {
    inset: 50% calc(var(--togle-circle-inset) + 4px) auto auto;
}

.toggle:has(.toggle__input:checked) {
    --togle-circle-inset: calc(0% + 2px);
    --togle-circle-color: rgba(51, 51, 51, 1);

    background-color: rgba(98, 98, 98, 1);
}

.toggle__icon-1 {
    opacity: var(--toggle-icon-hidden-before, 0);
}

.toggle__icon-2 {
    opacity: var(--toggle-icon-hidden-after, 0);
}

.toggle:has(.toggle__input:checked) {
    --toggle-icon-hidden-before: 0;
    --toggle-icon-hidden-after: 1;
}
