.tumbler {
    --tumbler-size-round: 22px;
    --tumbler-round-inset: calc(100% - var(--tumbler-size-round) - 1px);

    position: relative;

    width: 50px;
    height: 24px;
    
    background-color: rgba(255, 255, 255, 1);

    border-radius: 20px;

    transition: background-color 0.2s cubic-bezier(.17,.67,.83,.67);
}

.tumbler__input {
    position: absolute;
    z-index: 1;
    inset: 0;

    opacity: 0;
}

.tumbler__round::before {
    position: absolute;
    content: '';

    inset: 50% var(--tumbler-round-inset) auto auto;
    transform: translate(0, -50%);

    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px rgba(51, 51, 51, 0.3);

    width:var(--tumbler-size-round);
    aspect-ratio: 1/1;

    transition: background-color 0.2s cubic-bezier(.17,.67,.83,.67);
    transition: inset 0.3s ease-in-out;
}

.tumbler:has(.tumbler__input:checked) {
    --tumbler-round-inset: calc(0% + 1px);

    background-color: rgba(53, 198, 88, 1);
}
